<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213323017667-54m9s69o4j27efkgs0mgndmf0q1t36lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213323017667-54m9s69o4j27efkgs0mgndmf0q1t36lg</string>
	<key>API_KEY</key>
	<string>AIzaSyB__0XzQ_tAzOLFXxiH7coPkRf_Wj_Fm5c</string>
	<key>GCM_SENDER_ID</key>
	<string>213323017667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamBunggae.Join</string>
	<key>PROJECT_ID</key>
	<string>rendezvous-app-353809</string>
	<key>STORAGE_BUCKET</key>
	<string>rendezvous-app-353809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213323017667:ios:648847c28724f3c3f8a176</string>
</dict>
</plist>