<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842953377559-8pk5s871cogc96fk28aejj0ogt4bquli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842953377559-8pk5s871cogc96fk28aejj0ogt4bquli</string>
	<key>API_KEY</key>
	<string>AIzaSyCWCLkaB3uW2Idj3-7yVZSO7VwVcjgfass</string>
	<key>GCM_SENDER_ID</key>
	<string>842953377559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamBunggae.Join</string>
	<key>PROJECT_ID</key>
	<string>zoin-895bf</string>
	<key>STORAGE_BUCKET</key>
	<string>zoin-895bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842953377559:ios:5a8bd6172837b708915952</string>
</dict>
</plist>